@import './reset.scss';
@import './vars/main.scss';

html,
body {
  font-family: 'Montserrat', sans-serif;
  background: $bg;
  height: auto;
  width: 100vw;
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: $primary;
}

h1 {
  font-size: $h1;
  font-weight: 700;
}

h2 {
  font-size: $h2;
  font-weight: 600;
}

h3 {
  font-size: $h3;
  font-weight: 500;
}

p {
  font-size: $base-size;
  font-weight: 300;
}

small,
.text-small {
  font-size: $text-sm;
}

section > h1 {
  font-size: $text-sm;
}
header h1 {
  font-size: calc(#{$h1} * #{$type-scale});
}
header h2 {
  font-size: $text-sm;
  margin: $header-margin;
}
#resources h1 {
  font-size: $h2;
}
#resources h1 small {
  font-size: $base-size;
}

@media (min-width: 200px) {
  $type-scale: 1.125;
}

@media (min-width: 740px) {
  $type-scale: 1.25;
  $header-margin: 0 0 1rem 8rem;
}
