@import './vars/main.scss';

.container {
  height: auto;
  min-width: 100%;
  max-width: 100%;
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  overflow-x: hidden;
}
$text-container-width: 60%;

@media (min-width: 400px) {
  $text-container-width: 80%;
}

@media (min-width: 1400px) {
  $text-container-width: 60%;
}

@media (min-width: 1800px) {
  $text-container-width: 40%;
}

.logo {
  padding: 0.5rem 1rem;
  border: 2px solid white;
  color: white;

  span {
    display: inline-block;
    color: white;
    transform-origin: 50% 90%;
  }
}

$sections-padding: 2.5rem;

.nav {
  width: 100%;
  min-height: 10vh;
  position: fixed;
  top: 0;
  mix-blend-mode: difference;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  padding: 0 $sections-padding;
}

.social {
  display: flex;
  flex-flow: row nowrap;
  align-items: top;
  justify-content: center;
  & > * {
    @include shrink-hover;
    fill: white;
    margin: 0 0.5rem;
    width: 40px;
    height: 40px;
  }
}

@mixin main-section {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;

  display: flex;
  padding: $sections-padding;
  position: relative;
}

@mixin section-text($color) {
  h1,
  h2,
  h3,
  h4,
  p {
    max-width: $text-container-width;
    line-height: 2rem;
    z-index: 1;
    color: $color;
  }

  & p {
    text-align: justify;
    text-justify: inter-word;
    margin: 0.75rem 0;
  }
}

.intro,
.about,
.plantopi,
.synthesis {
  @include main-section;
}

.intro {
  @include section-text($font-color);
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  h2 {
    width: $text-container-width;
    z-index: 5;
    color: $font-color;
    line-height: 2.5rem;
    margin-top: 6rem;
  }
}

.about {
  @include section-text($secondary-font-color);
  flex-flow: column nowrap;
  align-items: center;
}

.invertedTransitionMountain,
.transitionMountain {
  position: absolute;
  min-width: 100vw;
  max-width: 100vw;
  // height: auto;
  top: 0;
  left: 0;
}

.plantopi {
  @include section-text($font-color);
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  max-width: 100%;
  & > * {
    color: $font-color;
    max-width: 50%;
  }
  .projectSocialIcon {
    fill: $primary;
  }

  .projectLinks {
    color: $font-color;
  }
}

.synthesis {
  @include section-text($secondary-font-color);
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  max-width: 100%;
  & > * {
    color: $font-color;
    max-width: 50%;
  }
  .projectSocialIcon {
    fill: $primary;
  }
}

.projectText {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: $font-color;
}

.projectSocialIcon {
  @include shrink-hover;
  height: 40px;
  width: 40px;
}

.projectHeader {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  width: 100%;
  & .socialIcon {
    height: 20px;
    width: 20px;
    fill: $primary;
    margin: 0 1rem;
  }
}
.synthesis .projectLinks {
  color: $secondary-font-color;
}

.plantopi .projectLinks {
  color: $font-color;
}

.projectLinks {
  margin-top: 0.75rem;
  font-size: 0.75rem;
  & > * {
    @include shrink-hover;
  }
}

.synthesis,
.about {
  background-color: $primary;
}

@keyframes blink {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    transform: scale(0);
  }
}
