@import '@styles/vars/main';

.logoContainer {
  background-color: #282a36;
  width: 100%;
  padding: 10rem 2.5rem;
  border-radius: 10px;
}

.logo {
  height: 50%;
  width: 50%;
  text-align: center;
}

.body {
  @include clamp;

  & * {
    max-width: 100%;
  }
}
