@import '@styles/vars/main';

.icon {
  height: 40px;
  width: 40px;
  // fill: $primary;
  // stroke: $primary;
  // stroke-width: 0.5;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  & > * {
    margin: 0.5rem 0;
  }
}

.layer {
  text-align: center;
  width: 40%;
}

.techContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  & > * {
    margin: 0 0.5rem;
  }
  & > a {
    @include shrink-hover;
  }
}
