@import '@styles/vars/main';

.icon {
  height: 60px;
  width: 60px;
  fill: $primary;
  // stroke: $primary;
  // stroke-width: 0.5;
}

.container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.layer {
  text-align: center;
  text-transform: uppercase;
}

.techContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;

  & > * {
    margin: 0.5rem 0.25rem;
  }
  & > a {
    @include shrink-hover;
  }
}
