$primary: rgb(52, 61, 84);
$secondary: #b2ac9d;

$main-font: 'Roboto', sans-serif;
$font-color: #282a36;
$secondary-font-color: $primary;

$hightlights: rgb(163, 107, 129);
$highlights-2: rgb(155, 115, 140);
$bg: #e9e2cf;
$bg-light: #fff;
