$main-font: 'Roboto', sans-serif;

$font-color: #282a36;
$secondary-font-color: #f5ffb7;

$primary: #282a36;
$secondary: #b2ac9d;

$hightlights: #f5ffb7;
$highlights-2: #fff;

$bg: #e9e2cf;
$bg-light: #fff;
